*{padding: 0;margin: 0;}
.about{
    background: #eeeeee;
}
.about .noidung {
    padding: 50px 0 100px 0;
}
.title.col-md-12.text-center h2 {
    font-size: 45px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #000000d9;
}
hr {
    width: 20%;
    height: 2px;
    background-color: orange;
    margin: auto;
}
.softSkill h2.title {
    font-size: 22px;
    font-weight: bold;
}
.softSkill.col-md-4 {
    overflow: hidden;
    margin: 20px 0;
    padding:10px
}
.ten {
    background: orange;
    width: 60%;
    transform: skewX(45deg);
    position: relative;
    left: -10%;
}
.softSkill h2.title {
    font-size: 22px;
    font-weight: bold;
    transform: skewX(-45deg);
    position: relative;
    left: 16%;
}
.softSkill .container {
    overflow: hidden;
    border: 1px solid orange;
    border-radius: 3px;
    height:100%;
    transition:0.5s;
    background: #fffffff0;
}
.softSkill .container:hover{
    box-shadow: 0 0 5px, 0 0 5px rgb(230, 146, 68), 0 0 5px rgb(230, 146, 68);
}
.footer {
    background: #343a40;
    color: #ffffffc7;
}
.footer h2 {
    font-size: 20px;
    padding: 10px 0;
}
.footer h1 {
    margin: 0;
    font-size: 30px;
    padding-bottom: 10px;
}
.footer span:nth-child(1){
    color:orange;
}
.footer span:nth-child(2){
    color:white;
}
.footer span.anticon.anticon {
    font-size: 30px;
    margin: 10px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.footer span.anticon.anticon:hover {
    color: orange;
}
