*{margin: 0; padding: 0;}

.box_product svg {
    margin-top: 50px;
}

.box_product1 h4 {
    font-weight:bold;
    font-family: 'Noto Sans JP', sans-serif;
    width: 80%;
    margin: auto;
    padding: 20px;
}
.box_product1 p {
    font-size:15px;
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}

.col-md-12.box_product1 {
    padding: 10px;
    text-align: center;
    color: #fff;
    background-size: cover;
    height: 100%;
    border-top: 2px solid red;
}

.col-md-4.box_product {
    padding: 2px;
}

.col-md-12.title.text-center {
    text-align: center;
    margin: 50px 0;
    font-family: 'Noto Sans JP', sans-serif;
}

.col-md-12.title.text-center h3 {
    font-weight: bold;
}

h3 {}

.col-md-12 .title .text-center {
    text-align: center;
    margin: 50px;
    font-family: 'Noto Sans JP', sans-serif;
}

.box_content h2 {
    letter-spacing: 2px;
    font-size: 17px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    line-height: 2em;
    color: #fff;
}

.box_content {
    position: absolute;
    width: 30%;
    background: RGB(185,28,38);
    top: 15%;
    left: -50px;
    padding: 45px;
}

.bg_main {
    height: 100vh;
    margin-left: 50px;
    position: relative;
}

.bg_main .container-fluid {
    background: url(images/main.jpg);
    height: 100%;
}

.col-md-4.logo {
    margin: auto;
    text-align: left;
    padding: 0;
}

li.nav-item {
    padding: 0 20px;
}
li.nav-item.active .nav-link {
    color: red !important;
}

a.nav-link {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    transition: 0.5s;
    color: #000 !important;
}

.nav-item:hover a.nav-link {
    color: red !important;
}


li.nav-item. {
	padding:0 25px;
}

ul.nav.navbar-nav {
    text-align: center;
    display: inline-block;
}

.col-md-12.navigation {
    text-align: center;
}

nav.navbar.navbar-light {
    text-align: center;
    margin: auto !important;
}

.box_mail {
    background: RGB(51,153,153);
    height: 50px;
    width: 80%;
    margin: auto;
}

.mail {
    text-align: center;
    margin: auto;
}
.mail .box_mail{
	
    background: RGB(51,153,153);
}
.mail span {
    font-size: 15px;
    display: inline-block;
    padding: 15px;
    font-weight: bold;
    color: #fff;
}

.tel {
    text-align: right;
}

.tel span {
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: #7f7f7f;
}

.logo svg {
    margin-left: 35px;
}

p.text-center {
    text-align: center;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    margin-bottom: 10px;
}
p.text1{
	font-size: 11px;
	text-align: center;
}
@media (max-width: 576px) {
	*{}

.box_product svg {
    display: inline-block;
    width: 110px;
}

.box_product1 p {
    font-size: 10px;
}

.box_product1 h4 {
    font-size: 15px;
}

.col-md-12.title.text-center h3 {
    font-size: 15px;
}

.bg_main {
    width: auto;
    margin: 0;
    height: 30vh;
    background-size: contain;
}

.box_content {
    display: none;
}

.menu .container-fluid {
    border-bottom: 2px solid red;
    margin-bottom: 5px;
}



button.navbar-toggler.hidden-sm-up {
    display: block;
}

.col-md-4.logo {
    display: none;
}

.col-md-7.tel {
    display: none;
}

.col-md-5.mail {display: none;}

.menu_main .container .row .col-md-12:nth-child(1) {
    display: none;
}


}
@media (min-width: 768px )and (max-width: 991.98px) {
	*{}

.box_content h2 {
    font-size: 10px;
}

.box_content {
    padding: 20px;
}

.bg_main {
    height: 50vh;
}

.col-md-8.menu_main {
    padding: 0;
}

.menu .row .col-md-12:nth-child(1) {
    display: none;
}

li.nav-item {
    padding: 0;
}

a.nav-link {
    font-size: 9px;
}

.col-md-12.navigation {}

.logo svg {width: 40%;height: 50%;}

.col-md-4.logo {}

.col-md-5.mail {
    display: none;
}

.col-md-7.tel {
    display: none;
}
}